


/* General */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Typo */

a{
  text-decoration: none;
}

li{
  list-style: none;
}


/* colors */



/* Formatting */

.width_100{
  width: 100%;
}

.left {
  float: left;
}
.right {
  float: right;
}

.inline_block {
  display: inline-block;
}




/* Utility */


/* top header */

.container_top_header {
  position: fixed;
  top: 0;
  height: 80px;
  background-color: grey;
  z-index: 1;
}
.nav_menu {
  width: 75%;
  height: 80px;
  margin: 0 auto;
  background-color: green;
}
.nav_menu:after {
  content: "";
  display: table;
  clear: both;
}
.menu_center{
  margin-left: 200px;
}

/* bottom header */

.container_bottom_header{
  margin-top: 80px;
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}

/* main */

/* section logos */

.container_logos{
  background-color: #F3F5F9;
}

.stripe_logo{
  height: 80px;
}
