


/* General */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}


/* Typo */

a{
  text-decoration: none;
}

li{
  list-style: none;
}


/* colors */
.dark_blue {
  color: #031C4E;
}
.background_container_lightblue{
  background-color: #F3F5F9;
}
.background_container_bluemarine{
  background-color: #003BB8;
}
.background_container_deepblue {
  background-color: #031C4E;
}

.white{
  color: white;
}


/* Formatting */

.width_100 {
  width: 100%;
}

.margin_bottom30 {
  margin-bottom: 30px;
}

.left {
  float: left;
}
.right {
  float: right;
}

.inline_block {
  display: inline-block;
}

.menu_chevron {
  font-size: 0.8em;
}

/* buttons */

.button_menu {
  color: #004AFF;
  font-size: 1.2em;
  border: 1px solid #004AFF;
  background-color: transparent;
  padding: 6px 12px;
}
.button_menu:hover {
  color: white;
  background-color: #004AFF;
}


/* Utility */


/* top header */

.container_top_header {
  position: fixed;
  top: 0;
  height: 60px;
  background-color: white;
  z-index: 1;
}
.nav_menu {
  width: 75%;
  margin: 0 auto;
  line-height: 60px;
}
.nav_menu:after {
  content: "";
  display: table;
  clear: both;
}
.menu_center{
  padding-left: 5%;
}
.menu_top a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: #031C4E;
}
.menu_top a:hover{
  color: #004AFF;
}

.logo_menu img {
  height: 30px;
}

.menu_bar {
  font-size: 2em;
  margin: 15px 0;
}

@media screen and (min-width: 1050px){
  .visible_lg {
    display: block;
  }
  .hidden_lg {
    display: none;
  }
}

@media screen and (max-width: 1050px){
  .visible_lg {
    display: none;
  }
  .hidden_lg {
    display: block;
  }
}
/* bottom header */

.container_bottom_header{
  margin-top: 60px;
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}

/* main */

/* section logos */

.stripe_logo{
  height: 80px;
}

/* section Design for developers */

.carousel_ball{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

/* service */
.service_row {
  border-bottom: 1px solid grey;
}
.service_row span{
  display: inline-block;
  margin-left: 80px;
}
.service_row a{
  margin-left: 220px;
}

/* rockerbox */

.rockerbox_box {
  width: 280px;
  height: 200px;
  background-color: white;
  margin: auto;
  padding: 20px 0;
}

.img_rockerbox {
  width: 150px;
}


/* top footer */
